footer.page-footer.teal
      .container
        .row
          .col.l6.s12
            h5.white-text Bio
            p.grey-text.text-lighten-4
              | My name is Giuseppe DiBella, I will be a 2015 IT graduate of NJIT. My specialization is in Web Development with a minor in Web and Information Systems. I created this website to show some of my skills and be a host for my project information. Please feel free to check out my site and contact me with any opportunities. 
            a.grey-text.text-lighten-4.underline(href='/about') READ MORE
          .col.l3.s12
            h5.white-text Trying to Learn
            ul
              li
                a.white-text Nodejs
              li
                a.white-text Angular
              li
                a.white-text Symfony
              li
                a.white-text CSS Animations
              li
                a.white-text Phonegap
              li
                a.white-text iBeacon
          .col.l3.s12
            h5.white-text Connect
            ul
              li
                a.white-text(href='http://linkedin.com/in/giuseppedibella', target='_blank') LinkedIn
              li
                a.white-text(href='https://github.com/gd46', target='_blank') Github
              li
                a.white-text(href='https://www.facebook.com/giuseppe.dibella.7731', target='_blank') Facebook
      .footer-copyright
        .container
          | Made by 
          a.brown-text.text-lighten-3 Giuseppe DiBella
// Scripts
script(src='https://code.jquery.com/jquery-2.1.1.min.js')
script(src='javascripts/materialize.js')
script(src='javascripts/init.js')