extends layout

block content
	h1 About Page
	.container
		p 
			| Hi my name is Giuseppe DiBella, I am a Senior at NJIT graduating in May of 2015. I am studying Information Technology with a 
			| concetration in Web Development and a minor in Web and Information Systems. I am always looking for a 
			| way to be apart of software development. I like the fact that the work is always exciting and new.
			| Through my classes at NJIT I have had exposure to various web development technologies and I am 
			| always looking to learn something new, and strengthen my skills. I am currently persuing learning
			| more about automated QA, nodejs, and Beacons. I am available for freelance work, and consultations
			| on projects related to the skills I have listed on my home page. If you are looking for a developer
			| and believe I would be a good fit for you please feel free to email me and tell me about the project
			| you have going on. 