extends layout

block content
  #index-banner.parallax-container
      .section.no-pad-bot
        .container
          br
          br
          h1.header.center.teal-text.text-lighten-2 Portfolio
          .row.center
            h5#header-tagline.header.col.s12.light A modern responsive site made with nodejs, jade, and materializecss
          .row.center
            a#download-button.btn-large.waves-effect.waves-light.teal.lighten-1(href='/contact') Reach Me
          br
          br
      .parallax
        img(src='images/background1.jpg', alt='Giuseppe DiBella Portfolio')
    .container
      .section
        // Icon Section
        .row
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.fa.fa-check-square-o
              h5.center Skills
              ul.light
                li MySql
                li PHP
                li HTML
                li Javascript
                li CSS
                li Symfony - beginner
                li Nodejs - beginner
                li Jade
                li Twig
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.fa.fa-database
              h5.center IT Projects
              ul.light
                li 
                  a.light(href='http://hvac.truedesignideas.com', target='_blank') Heating and Cooling Website
                li
                  a.light(href='http://mathtimetutoring.com', target='_blank') Math Time Tutoring
                li
                  p.light 
                    | More projects in the works...

          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.fa.fa-github
              h5.center Github Highlights
              ul.light
                li
                  a.light(href='https://github.com/gd46/Portfolio-Site') This Site
                li
                  a.light(href='https://github.com/gd46/TwitterApp', target='_blank') TwitterApp 
                li
                  a.light(href='https://github.com/gd46/IT490-Challenge1', target='_blank') PHP Project
                li
                  a.light(href='https://github.com/gd46/is117_Final_Project', target='_blank') Math Time Tutoring
                li 
                  a.light(href='https://github.com/gd46/IS219-Nodejs-Bootstrap', target='_blank') Nodejs/Jade Bootstrap Template 

    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            h5.header.col.s12.light A modern responsive web application based on Material Design
      .parallax
        img(src='images/background3.jpg', alt='Giuseppe DiBella Portfolio')
    .container
      .section
        .row
          .col.s12.center
            h3
              i.mdi-content-send.brown-text
            h4 Reach Me
            p.left-align.light
              ul
                li
                  a(href='mailto:gdibella21@gmail.com') gdibella21@gmail.com
                li
                  p.light
                    | Looking for a fresh new modern website? Please feel free to reach out and send me a message. Lets work together.
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            h5.header.col.s12.light Let me help you advertise your business or yourself, free consultation
      .parallax
        img(src='images/background2.jpg', alt='Giuseppe DiBella Portfolio')