extends layout

block content
	h1 About Page
	.container
		p 
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin orci quis tortor interdum luctus. Vivamus vel tellus dui. Praesent lectus lacus, sollicitudin in tellus ut, facilisis vestibulum sem. Suspendisse potenti. Integer viverra sem magna, quis ultrices nulla mattis vitae. Aliquam erat volutpat. Sed ante dolor, malesuada a viverra ut, vehicula a felis. Cras gravida diam vitae ullamcorper vulputate. Sed ac mi at massa bibendum aliquet ac eu turpis. Mauris nec cursus augue. Fusce euismod libero id nunc tristique, quis sodales tortor malesuada. Suspendisse efficitur efficitur arcu quis bibendum. Maecenas sit amet tristique leo. Ut non semper diam, non egestas sapien. Suspendisse ullamcorper ut ligula at fringilla. Vestibulum porttitor vestibulum mauris, malesuada accumsan urna. Vestibulum sodales viverra sapien, eu blandit justo tempus ac. Etiam molestie, nulla id vestibulum sagittis, metus nunc convallis ipsum, a venenatis mi est non elit. Sed rhoncus, quam at venenatis porta, orci justo auctor tortor, sit amet viverra elit ex sit amet augue. Cras vel diam ultricies, bibendum nunc et, tincidunt massa. Pellentesque eget enim quis urna malesuada lacinia.