extends layout

block content
	h1=title
	.container-md.container
		.row
			.col.s4
				.card.large
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='images/office.jpg')
					.card-content
						span.card-title.activator.grey-text.text-darken-4 Card Title
							i.mdi-navigation-more-vert
						p
							a(href='#') This is a link
					.card-reveal
						span.card-title.grey-text.text-darken-4 Card Title
							i.mdi-navigation-close.right
							p
								| Here is more information
			.col.s4
				.card.large
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='images/office.jpg')
					.card-content
						span.card-title.activator.grey-text.text-darken-4 Card Title
							i.mdi-navigation-more-vert
						p
							a(href='#') This is a link
					.card-reveal
						span.card-title.grey-text.text-darken-4 Card Title
							i.mdi-navigation-close.right
							p
								| Here is more information
			.col.s4
				.card.large
					.card-image.waves-effect.waves-block.waves-light
						img.activator(src='images/office.jpg')
					.card-content
						span.card-title.activator.grey-text.text-darken-4 Card Title
							i.mdi-navigation-more-vert
						p
							a(href='#') This is a link
					.card-reveal
						span.card-title.grey-text.text-darken-4 Card Title
							i.mdi-navigation-close.right
							p
								| Here is more information


	
